# Eat Safe, Love

## Notebook Set Up

In [4]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
#imported pd for dataframes
import pandas as pd

In [6]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [7]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [8]:
# review the collections in our database
print(db.list_collection_names())

['establishments', 'estabolishments']

In [9]:
# assign the collection to a variable (estabolishments has only 2 records)
establishments = db['estabolishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [18]:
# Find the establishments with a hygiene score of 20
query = { "scores.Hygiene": 20}

# Use count_documents to display the number of documents in the result
pprint(f'Total number of hygiene scores = 20 are..{establishments.count_documents(query)}')
# Display the first document in the results using pprint
pprint(establishments.find_one(query))

'Total number of hygiene scores = 20 are..41'
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('647f9b6bccbd8ea813479b13'),
 'geocode': {'latitude': '50.769705', 'longitude': '0.27694'},
 'latitude': 3.45,
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'longitude': 45.9,
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [25]:
# Convert the result to a Pandas DataFrame
results = list(establishments.find(query))
estabolishments_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
pprint(f'the total number of rows in the data frame are..{len(estabolishments_df.index)}')
# Display the first 10 rows of the DataFrame
estabolishments_df.head(10)

'the total number of rows in the data frame are..41'

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,647f9b6bccbd8ea813479b13,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.27694,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,647f9b6bccbd8ea813479e9a,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,647f9b6bccbd8ea81347a1a4,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.15927,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,647f9b6bccbd8ea81347a38d,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.10202,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,647f9b6bccbd8ea81347a3a8,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,647f9b6bccbd8ea81347ad3f,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,647f9b6bccbd8ea81347af60,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.7121671,51.5350065,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,647f9b6cccbd8ea81347c48b,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,647f9b6cccbd8ea81347c8d0,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146449998021126,51.1859474182129,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,647f9b6cccbd8ea81347d0e4,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.57005,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [32]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = { 'RatingValue':{ "$gte": 4 }
         }

# Use count_documents to display the number of documents in the result
london_joints = establishments.count_documents(query)
pprint(f'Total London estabolishments with ratings >=4 ..{london_joints}')

# Display the first document in the results using pprint
pprint(establishments.find_one(query))

'Total London estabolishments with ratings >=4 ..31256'
{'AddressLine1': 'Wear Bay Road',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Wear Bay Bowls Club',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.821311183521,
 'FHRSID': 647177,
 'LocalAuthorityBusinessID': 'PI/000041489',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6PY',
 'RatingDate': '2014-03-31T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('647f9b6bccbd8ea813477fde'),
 'geocode': {'latitude': '51.086058', 'longitude': '1.196408'},
 'latitude': 3.45,
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/647177',
            'rel': 'self'}],
 'longitude': 45.9,
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 10, 'Hygiene': 5, 'Structural': 5}}

In [34]:
# Convert the result to a Pandas DataFrame
results = []
results = list(establishments.find(query))
rating_four_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
pprint(f'the total number of rows in the data frame are..{len(rating_four_df.index)}')
# Display the first 10 rows of the DataFrame
rating_four_df.head(10)

'the total number of rows in the data frame are..31256'

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,647f9b6bccbd8ea813477fde,647177,0,PI/000041489,Wear Bay Bowls Club,Pub/bar/nightclub,7843,Wear Bay Road,Folkestone,Kent,...,1.196408,51.086058,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,647f9b6bccbd8ea813477fdf,289353,0,PI/000002468,St Marys COE (aided) Primary School,School/college/university,7845,St Marys Church Of England Primary School,Warren Road,Folkestone,...,1.194762,51.085797,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,647f9b6bccbd8ea813477fe2,289560,0,PI/000039927,Mariner,Pub/bar/nightclub,7843,16 The Stade,Folkestone,Kent,...,1.188537,51.08084,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,647f9b6bccbd8ea813477fe3,289352,0,PI/000002460,The Ship,Pub/bar/nightclub,7843,23 The Stade,Folkestone,Kent,...,1.188537,51.08084,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,647f9b6bccbd8ea813477fe5,987206,0,PI/000075655,The Ships Galley,Pub/bar/nightclub,7843,The Ship,23 The Stade,Folkestone,...,1.188537,51.08084,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,647f9b6bccbd8ea813477fe7,1043701,0,PI/000076360,Pick Up Pintxos,Takeaway/sandwich shop,7844,Folkestone Harbour,Harbour Approach Road,Folkestone,...,1.18590330311705,51.0783519967076,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,647f9b6bccbd8ea813477fe8,805703,0,PI/000073221,That Burger - Harbour Arm,Takeaway/sandwich shop,7844,Folkestone Harbour,Harbour Approach Road,Folkestone,...,1.18590330311705,51.0783519967076,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,647f9b6bccbd8ea813477fe9,805702,0,PI/000073219,Dr Legumes - Harbour Arm,Restaurant/Cafe/Canteen,1,Folkestone Harbour,Harbour Approach Road,Folkestone,...,1.18590330311705,51.0783519967076,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,647f9b6bccbd8ea813477fea,1068284,0,PI/000076532,The Tea Caddy,Mobile caterer,7846,Folkestone Harbour,Harbour Approach Road,Folkestone,...,1.18590330311705,51.0783519967076,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,647f9b6bccbd8ea813477fec,1046418,0,PI/000076426,Custom Folkestone,Restaurant/Cafe/Canteen,1,Folkestone Harbour,Harbour Approach Road,Folkestone,...,1.18590330311705,51.0783519967076,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [43]:
#change the lat and longitude into floats
#results = []
#results = establishments.update_many({}, [ {'$set':{ "geocode.latitude" : {'$toDouble': "$latitude"}}} ])


# Create a query that sorts in ascending order by last_service
#query = {'RatingValue':5,'geocode.longitude':{'$lt':51.50},'geocode.longitude':{'$gt':51.48} }
query = {'RatingValue':5}
sort = [('geocode.longitude', -1)]

# Capture the results to a variable
results = establishments.find(query,{'geocode.longitude':1,'geocode.latitude':1}).sort(sort)

# Pretty print the first five results
for i in range(5):
    pprint(results[i])

{'_id': ObjectId('647f9b6bccbd8ea813477fdf'),
 'geocode': {'latitude': 3.45, 'longitude': 45.9}}
{'_id': ObjectId('647f9b6bccbd8ea813477fe2'),
 'geocode': {'latitude': 3.45, 'longitude': 45.9}}
{'_id': ObjectId('647f9b6bccbd8ea813477fe3'),
 'geocode': {'latitude': 3.45, 'longitude': 45.9}}
{'_id': ObjectId('647f9b6bccbd8ea813477fe3'),
 'geocode': {'latitude': 3.45, 'longitude': 45.9}}
{'_id': ObjectId('647f9b6bccbd8ea813477fe3'),
 'geocode': {'latitude': 3.45, 'longitude': 45.9}}

In [48]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = "0.08384000"
longitude = "51.49014200"

query = {'RatingValue':5,'geocode.longitude':{'$lt':51.50},'geocode.longitude':{'$gt':51.48} }
sort = sort = [('geocode.longitude', -1)] 

# Print the results
# Capture the results to a variable
results = establishments.find(query,{'geocode.longitude':1,'geocode.latitude':1}).sort(sort)

# Pretty print the first five results
# bug all lats an longs are the same making this fail

# Print the results
# Capture the results to a variable
results = establishments.find({'RatingValue':5}).sort(sort)

In [51]:
# Convert result to Pandas DataFrame
results = establishments.find({'RatingValue':5}).sort(sort)
degree_search_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
pprint(f'the total number of rows in the data frame are..{len(degree_search_df.index)}')
# Display the first 10 rows of the DataFrame
degree_search_df.head(10)

'the total number of rows in the data frame are..25815'

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,647f9b6bccbd8ea813477fdf,289353,0,PI/000002468,St Marys COE (aided) Primary School,School/college/university,7845,St Marys Church Of England Primary School,Warren Road,Folkestone,...,45.9,3.45,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,647f9b6bccbd8ea813477fe2,289560,0,PI/000039927,Mariner,Pub/bar/nightclub,7843,16 The Stade,Folkestone,Kent,...,45.9,3.45,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,647f9b6bccbd8ea813477fe3,289352,0,PI/000002460,The Ship,Pub/bar/nightclub,7843,23 The Stade,Folkestone,Kent,...,45.9,3.45,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,647f9b6bccbd8ea813477fe7,1043701,0,PI/000076360,Pick Up Pintxos,Takeaway/sandwich shop,7844,Folkestone Harbour,Harbour Approach Road,Folkestone,...,45.9,3.45,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,647f9b6bccbd8ea813477fe8,805703,0,PI/000073221,That Burger - Harbour Arm,Takeaway/sandwich shop,7844,Folkestone Harbour,Harbour Approach Road,Folkestone,...,45.9,3.45,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,647f9b6bccbd8ea813477fea,1068284,0,PI/000076532,The Tea Caddy,Mobile caterer,7846,Folkestone Harbour,Harbour Approach Road,Folkestone,...,45.9,3.45,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,647f9b6bccbd8ea813477fec,1046418,0,PI/000076426,Custom Folkestone,Restaurant/Cafe/Canteen,1,Folkestone Harbour,Harbour Approach Road,Folkestone,...,45.9,3.45,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,647f9b6bccbd8ea813477fed,1423242,0,PI/000078141,Little Rock,Other catering premises,7841,Folkestone Harbour,Harbour Approach Road,Folkestone,...,45.9,3.45,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,647f9b6bccbd8ea813477fef,1299500,0,PI/000078051,The Pilot,Pub/bar/nightclub,7843,Folkestone Harbour,Harbour Approach Road,Folkestone,...,45.9,3.45,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,647f9b6bccbd8ea813477ff0,1495230,0,PI/000078175,Lobster & Burger,Takeaway/sandwich shop,7844,Folkestone Harbour,Harbour Approach Road,Folkestone,...,45.9,3.45,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [53]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match': {'scores.Hygiene': 0}}
# 2. Groups the matches by Local Authority
group_query = {'$group': {'_id': "$LocalAuthorityName", 'count': { '$sum': 1 }}}
# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': { 'count': -1 }}

# Put the pipeline together
pipeline = [match_query, group_query, sort_values]

results = []
results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print("Number hygiene scores of zero: ", len(results))

# Print the first 10 results
pprint(results[0:10])

Number hygiene scores of zero:  55
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [54]:
# Convert the result to a Pandas DataFrame
zero_hygiene_df = pd.json_normalize(results)
# Display the number of rows in the DataFrame
pprint(f'the total number of rows in the data frame are..{len(zero_hygiene_df.index)}')
# Display the first 10 rows of the DataFrame
zero_hygiene_df.head(10)

'the total number of rows in the data frame are..55'

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542